{% extends 'admin/admin.html.twig' %}

{% block title "Recipe Edit" %}

{% block body %}

    <h1>{{recipe.title}} EDIT PAGE</h1>
    <img src='{{vich_uploader_asset(recipe, 'thumbnailFile')}}' alt=''>
    {{form(form)}}
    
{% endblock %}
